*.pyc
/backend/db.sqlite3
.DS_Store
.env
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/
yarn.lock

#database
.db/
db/
# coverage result
.coverage
/coverage/

# pycharm
.idea/

# data
*.dump

# npm
package-lock.json
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json

# Sass
.sass-cache
*.map

# General
/sonaCS322-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/
backend/sonaCS322/settings/base.py
backend/researcherFormApi/migrations/0003_auto_20210427_2237.py
