#card-header {
  font-weight: 600;
  font-size: calc(max(1vw, 20px));
}

.db-card {
  width: 100%;
  text-align: left;
  margin-bottom: 2.5vh;
}

.close {
  font-weight: lighter !important;
  color: #FFFFFF !important;
  margin-left: 5px;
  /* opacity: .5; */
}